@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: freesentation;
  src: url('/fonts/Freesentation-4Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #e1e8ef;
  color: black;
  font-family: 'freesentation', 'sans-serif';
}

@layer components {
  .bg-left-double-arrow {
    background-image: url('/assets/arr_left_d.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }

  .bg-right-double-arrow {
    background-image: url('/assets/arr_right_d.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }

  .bg-left-arrow {
    background-image: url('/assets/arr_left-arrow.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }

  .bg-right-arrow {
    background-image: url('/assets/arr_right.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }
}
