@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: freesentation;
  src: url('/fonts/Freesentation-4Regular.ttf') format('woff2'),
    url('/fonts/Freesentation-4Regular.ttf') format('woff'),
    url('/fonts/Freesentation-4Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Menlo;

  src: url('/fonts/Menlo-Regular.ttf') format('woff2'),
    url('/fonts/Menlo-Regular.ttf') format('woff'),
    url('/fonts/Menlo-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
  --font-freesensation: 'Freesensation', sans-serif;
  --font-jetBrainsMono: 'JetBrains Mono', monospace;
  --font-ibmPlexMono: 'IBM Plex Mono', monospace;
}

:root {
  --background-color: rgb(248 250 252); /* bg-slate-50 */
  --color: #111;
  --side-bar-title: rgb(49 46 129); /* bg-indigo-900 */
  --blockquote-background: rgb(226 232 240); /* bg-stale-200 */
  --blockquote-border-color: rgb(209 213 219); /* bg-gray-300 */
  --blockquote-color: rgb(75 85 99); /* bg-gray-600 */
  --active-sidebar-color: rgb(55 48 163); /* bg-indigo-800 */
  --underactive-sidebar-color: rgb(30 27 75); /* bg-indigo-950 */
  --card-background: #fefefe;
  --tag-background: rgb(209 213 219);
}

[data-theme='dark'] {
  --background-color: #111;
  --color: #ddd;
  --side-bar-title: rgb(129 140 248);
  --blockquote-background: rgb(39, 49, 63); /* bg-gray-600 */
  --blockquote-border-color: rgb(228 228 231); /* bg-zinc-200 */
  --blockquote-color: #ddd; /* bg-gray-400 */
  --active-sidebar-color: rgb(199 210 254); /* text-indigo-200*/
  --underactive-sidebar-color: rgb(129 140 248); /* text-indigo-400 */
  --card-background: #353535;
  --tag-background: rgb(75 85 99);
}

::-webkit-scrollbar {
  width: 16px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: var(--blockquote-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--active-sidebar-color); /* 스크롤바 색상 */
  min-height: 24px;
}

html {
  font-family: freesentation, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

.tag {
  background-color: var(--tag-background);
}

h2[data-sidebar-title='true'] {
  color: var(--side-bar-title);
}

blockquote[theme-block='true'] {
  background-color: var(--blockquote-background);
  border-color: var(--blockquote-border-color);
  color: var(--blockquote-color);
}

li[data-active='true'] {
  color: var(--active-sidebar-color);
  font-weight: 700;
  font-size: 120%;
  transition: 0.3s ease-in-out;
}

li[data-under-active='true'] {
  color: var(--underactive-sidebar-color);
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

ol[data-active='true'] {
  color: rgb(199 210 254);
  font-weight: 700;
  font-size: 105%;
}

svg[data-theme] {
  stroke: var(--color);
}

section[data-comment] {
  background-color: var(--blockquote-background);
}

section[data-comment-theme] {
  background-color: var(--blockquote-background);
}

div[data-card] {
  background-color: var(--card-background);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

table,
th,
td {
  border: 1px solid var(--color);
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--blockquote-background);
}

hr {
  display: none;
}

pre {
  overflow-x: auto;
  font-family: var(--font-jetBrainsMono);
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 0px 0px 10px 10px;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  scrollbar-width: none;
}

pre > code {
  display: grid;
  font-size: 80%;
}

pre span[data-line] {
  @apply inline-block px-4 py-0.5;
  font-family: var(--font-jetBrainsMono), Menlo;
  font-weight: 500;
  font-size: 14px;
}

code {
  font-family: Melon;
  font-size: 80%;
}

code {
  counter-reset: line; /* code가 시작 될 떄 마다 line 이란 이름으 카운터 생성 */
}

/* 문장에서 쓰인 code 태그들에만 사용 할 스타일 */
p > code,
strong > code,
li > code {
  font-family: Menlo;
  background-color: #aaaaaa63;
  padding: 2px 5px;
  border-radius: 5px;
}

code > [data-line]::before {
  /* [data-line] 이 등장 할 때 마다 counter 1씩 증가 */
  counter-increment: line;

  /* [data-line] 이 등장 할 때 마다 counter 를 줄의 ::before에 
  추가해주기
  */
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

/* /search 에서 쓰인 그래디언트 텍스트 */
.gradient-text {
  background: linear-gradient(to right, rgb(99 102 241), rgb(6 182 212));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

span[data-highlighted-line] {
  background-color: #e0e0e031;
}

span[data-highlighted-line-id='add'] {
  background-color: rgba(195, 255, 0, 0.1);
}

span[data-highlighted-line-id='remove'] {
  background-color: rgba(255, 99, 71, 0.1);
}

figcaption[data-rehype-pretty-code-title] {
  /* text-align: end; */
  background-color: rgb(30 27 75);
  border-radius: 10px 10px 0px 0px;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 18px;
  color: #fefefe;
}

@layer components {
  .bg-left-double-arrow {
    background-image: url('/assets/arr_left_d.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }

  .bg-right-double-arrow {
    background-image: url('/assets/arr_right_d.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }

  .bg-left-arrow {
    background-image: url('/assets/arr_left-arrow.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }

  .bg-right-arrow {
    background-image: url('/assets/arr_right.svg');
    background-size: auto 0.8em;
    width: 1.5em;
    height: 1.5em;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: inline-block;
  }
}

.post-side-bar {
  max-height: 70vh;
  overflow-y: scroll;
}

/* Styling the entire scrollbar */
.post-side-bar::-webkit-scrollbar {
  display: none;
}

/* 깃허브의 코드블록 라이트 테마 CSS */

.highlight pre {
  padding: 16px;
  max-width: 850px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #eee;
  border-radius: 3px;
  color: #111;
}

.highlight {
  font-size: 14px;
  margin-bottom: 16px;
}

.pl-c {
  color: #969896;
}

.pl-c1,
.pl-s .pl-v {
  color: #0086b3;
}

.pl-e,
.pl-en {
  color: #795da3;
}

.pl-s .pl-s1,
.pl-smi {
  color: #333;
}

.pl-ent {
  color: #63a35c;
}

.pl-k {
  color: #a71d5d;
}

.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
  color: #183691;
}

.pl-v {
  color: #ed6a43;
}

.pl-id {
  color: #b52a1d;
}

.pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.pl-ml {
  color: #693a17;
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.pl-mq {
  color: #008080;
}

.pl-mi {
  color: #333;
  font-style: italic;
}

.pl-mb {
  color: #333;
  font-weight: bold;
}

.pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.pl-mo {
  color: #1d3e81;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* Added line */
}
