body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #353535;
  color: white;
}

.wrapper {
  padding: 1rem;
  border: 1px solid white;
}

.flex {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

a {
  color: white;
}
