body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: white;
}

.flex {
  display: flex;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

button {
  padding: 1rem;
  font-size: 24px;
}

label {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.view {
  border: 2px solid royalblue;
}

.counter {
  border: 2px solid purple;
}

.increase {
  border: 2px solid orangered;
}
